# Importing Libraries and Datasets

In [3]:
import pandas as pd
import numpy as np

In [4]:
AFC_df = pd.read_csv("../DataSets/AFC_2024.csv")
AFCON_df = pd.read_csv("../DataSets/AFCON_2024.csv")
CONCACAF_df = pd.read_csv("../DataSets/Concacaf_2025.csv")
Copa_df = pd.read_csv("../DataSets/Copa_2024_Matches.csv")
EURO_df = pd.read_csv("../DataSets/EURO_2024_Matches.csv")
WC2022_df = pd.read_csv("../DataSets/WC_2022.csv")

Elo_df = pd.read_csv("../Datasets/EloRating.csv")
Qualified_df = pd.read_csv("../DataSets/Qualified.csv")
TeamData_WC2022 = pd.read_csv("../DataSets/team_data_WC2022.csv")

## Columns that should be in every dataset

1. date
2. home_team
3. away_team
4. home_score
5. away_score
6. home_team_xg
7. away_team_xg
8. home_yc
9. away_yc
10. home_team_elo
11. away_team_elo
12. winner
13. home_qualified
14. away_qualified

# STANDARDIZING AFC

In [8]:
AFC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               52 non-null     object
 1   home_team          52 non-null     object
 2   away_team          52 non-null     object
 3   home_score         52 non-null     int64
 4   away_score         52 non-null     int64
 5   tournament         52 non-null     object
 6   stage              52 non-null     object
 7   home_team_xg       52 non-null     float64
 8   away_team_xg       52 non-null     float64
 9   home_yellow_cards  52 non-null     int64
 10  away_yellow_cards  52 non-null     int64
dtypes: float64(2), int64(4), object(5)
memory usage: 4.6+ KB

### Droping and renaming unnecessary columns

In [10]:
AFC_df = AFC_df.rename(columns={'home_team_xg' : 'home_xg', 'away_team_xg' : 'away_xg', 'home_yellow_cards' : 'home_yc', 'away_yellow_cards':'away_yc'})
AFC_df = AFC_df.drop(columns = ['stage', 'tournament'])
AFC_df['date'] = pd.to_datetime(AFC_df['date'], errors='coerce') #Standardizing the date

AFC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        52 non-null     datetime64[ns]
 1   home_team   52 non-null     object
 2   away_team   52 non-null     object
 3   home_score  52 non-null     int64
 4   away_score  52 non-null     int64
 5   home_xg     52 non-null     float64
 6   away_xg     52 non-null     float64
 7   home_yc     52 non-null     int64
 8   away_yc     52 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.8+ KB

# STANDARDIZING CONCACAF

In [12]:
CONCACAF_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 66 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   timestamp                            46 non-null     int64
 1   date_GMT                             46 non-null     object
 2   status                               46 non-null     object
 3   attendance                           0 non-null      float64
 4   home_team_name                       46 non-null     object
 5   away_team_name                       46 non-null     object
 6   referee                              0 non-null      float64
 7   Game Week                            38 non-null     float64
 8   Pre-Match PPG (Home)                 46 non-null     float64
 9   Pre-Match PPG (Away)                 46 non-null     float64
 10  home_ppg                             46 non-null     float64
 11  away_ppg                             46 non-null     float64
 12  home_team_goal_count                 46 non-null     int64
 13  away_team_goal_count                 46 non-null     int64
 14  total_goal_count                     46 non-null     int64
 15  total_goals_at_half_time             46 non-null     int64
 16  home_team_goal_count_half_time       46 non-null     int64
 17  away_team_goal_count_half_time       46 non-null     int64
 18  home_team_goal_timings               34 non-null     object
 19  away_team_goal_timings               30 non-null     object
 20  home_team_corner_count               46 non-null     int64
 21  away_team_corner_count               46 non-null     int64
 22  home_team_yellow_cards               46 non-null     int64
 23  home_team_red_cards                  46 non-null     int64
 24  away_team_yellow_cards               46 non-null     int64
 25  away_team_red_cards                  46 non-null     int64
 26  home_team_first_half_cards           46 non-null     int64
 27  home_team_second_half_cards          46 non-null     int64
 28  away_team_first_half_cards           46 non-null     int64
 29  away_team_second_half_cards          46 non-null     int64
 30  home_team_shots                      46 non-null     int64
 31  away_team_shots                      46 non-null     int64
 32  home_team_shots_on_target            46 non-null     int64
 33  away_team_shots_on_target            46 non-null     int64
 34  home_team_shots_off_target           46 non-null     int64
 35  away_team_shots_off_target           46 non-null     int64
 36  home_team_fouls                      46 non-null     int64
 37  away_team_fouls                      46 non-null     int64
 38  home_team_possession                 46 non-null     int64
 39  away_team_possession                 46 non-null     int64
 40  Home Team Pre-Match xG               46 non-null     float64
 41  Away Team Pre-Match xG               46 non-null     float64
 42  team_a_xg                            46 non-null     float64
 43  team_b_xg                            46 non-null     float64
 44  average_goals_per_match_pre_match    46 non-null     float64
 45  btts_percentage_pre_match            46 non-null     int64
 46  over_15_percentage_pre_match         46 non-null     int64
 47  over_25_percentage_pre_match         46 non-null     int64
 48  over_35_percentage_pre_match         46 non-null     int64
 49  over_45_percentage_pre_match         46 non-null     int64
 50  over_15_HT_FHG_percentage_pre_match  46 non-null     int64
 51  over_05_HT_FHG_percentage_pre_match  46 non-null     int64
 52  over_15_2HG_percentage_pre_match     46 non-null     int64
 53  over_05_2HG_percentage_pre_match     46 non-null     int64
 54  average_corners_per_match_pre_match  46 non-null     float64
 55  average_cards_per_match_pre_match    46 non-null     float64
 56  odds_ft_home_team_win                46 non-null     float64
 57  odds_ft_draw                         46 non-null     float64
 58  odds_ft_away_team_win                46 non-null     float64
 59  odds_ft_over15                       46 non-null     float64
 60  odds_ft_over25                       46 non-null     float64
 61  odds_ft_over35                       46 non-null     float64
 62  odds_ft_over45                       46 non-null     float64
 63  odds_btts_yes                        46 non-null     float64
 64  odds_btts_no                         46 non-null     float64
 65  stadium_name                         14 non-null     object
dtypes: float64(23), int64(36), object(7)
memory usage: 23.8+ KB

### Droping and renaming columns

In [14]:
keep = ['date_GMT', 'home_team_name', 'away_team_name', 'home_team_goal_count', 'away_team_goal_count', 'team_a_xg', 'team_b_xg', 'home_team_yellow_cards', 'away_team_yellow_cards']
CONCACAF_df = CONCACAF_df[keep]
CONCACAF_df.columns = ['date', 'home_team', 'away_team', 'home_score', 'away_score', 'home_xg', 'away_xg', 'home_yc', 'away_yc']
CONCACAF_df[['home_yc','away_yc']] = CONCACAF_df[['home_yc','away_yc']].abs() # Just in case make the quantity of yellow card positive
CONCACAF_df['date'] = pd.to_datetime(CONCACAF_df['date'], format="%b %d %Y - %I:%M%p", errors='coerce')

CONCACAF_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        46 non-null     datetime64[ns]
 1   home_team   46 non-null     object
 2   away_team   46 non-null     object
 3   home_score  46 non-null     int64
 4   away_score  46 non-null     int64
 5   home_xg     46 non-null     float64
 6   away_xg     46 non-null     float64
 7   home_yc     46 non-null     int64
 8   away_yc     46 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.4+ KB

In [15]:
CONCACAF_df.head()

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc
0,2025-03-21 20:00:00,Cuba,Trinidad and Tobago,1,2,1.36,1.55,0,2
1,2025-03-21 22:00:00,Suriname,Martinique,1,0,1.02,0.52,3,2
2,2025-03-21 23:00:00,Bermuda,Honduras,3,5,0.00,0.00,3,1
3,2025-03-21 23:00:00,St. Vincent / Grenadines,Jamaica,1,1,0.00,0.00,1,1
4,2025-03-22 00:00:00,Guadeloupe,Nicaragua,1,0,1.27,1.33,0,3

# STANDARDIZING AFCON

In [17]:
AFCON_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               52 non-null     object
 1   home_team          52 non-null     object
 2   away_team          52 non-null     object
 3   home_score         52 non-null     int64
 4   away_score         52 non-null     int64
 5   tournament         52 non-null     object
 6   stage              52 non-null     object
 7   home_team_xg       52 non-null     float64
 8   away_team_xg       52 non-null     float64
 9   home_yellow_cards  52 non-null     int64
 10  away_yellow_cards  52 non-null     int64
dtypes: float64(2), int64(4), object(5)
memory usage: 4.6+ KB

### Dropping and renaming columns

In [19]:
AFCON_df = AFCON_df.drop(columns=['stage', 'tournament'])
AFCON_df = AFCON_df.rename(columns={'home_team_xg':'home_xg', 'away_team_xg':'away_xg', 'home_yellow_cards':'home_yc', 'away_yellow_cards':'away_yc'})
AFCON_df['date'] = pd.to_datetime(AFCON_df['date'], errors='coerce')
AFCON_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        52 non-null     datetime64[ns]
 1   home_team   52 non-null     object
 2   away_team   52 non-null     object
 3   home_score  52 non-null     int64
 4   away_score  52 non-null     int64
 5   home_xg     52 non-null     float64
 6   away_xg     52 non-null     float64
 7   home_yc     52 non-null     int64
 8   away_yc     52 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.8+ KB

In [20]:
AFCON_df.head()

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc
0,2024-01-13,Ivory Coast,Guinea-Bissau,2,0,2.3,0.5,2,1
1,2024-01-14,Nigeria,Equatorial Guinea,1,1,1.4,1.2,1,2
2,2024-01-14,Egypt,Mozambique,2,2,1.8,0.7,2,3
3,2024-01-14,Ghana,Cape Verde,1,2,1.3,2.4,3,2
4,2024-01-15,Senegal,Gambia,3,0,2.6,0.8,1,2

# STANDARDIZING COPA

In [22]:
Copa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 86 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   stadium                         30 non-null     object
 1   attendance                      30 non-null     object
 2   home_team                       30 non-null     object
 3   away_team                       30 non-null     object
 4   home_goals                      30 non-null     int64
 5   away_goals                      30 non-null     int64
 6   Home Expected goals(xG)         30 non-null     float64
 7   Home Total shots                30 non-null     int64
 8   Home Shots on target            30 non-null     int64
 9   Home Big chances                30 non-null     int64
 10  Home Big chances missed         30 non-null     int64
 11  Home Accurate passes            30 non-null     object
 12  Home Fouls committed            30 non-null     int64
 13  Home Corners                    30 non-null     int64
 14  Home Total shots.               30 non-null     int64
 15  Home Shots off target           30 non-null     int64
 16  Home Shots on target.           30 non-null     int64
 17  Home Blocked shots              30 non-null     int64
 18  Home Hit woodwork               30 non-null     int64
 19  Home Shots inside box           30 non-null     int64
 20  Home Shots outside box          30 non-null     int64
 21  Home Expected goals (xG)        30 non-null     float64
 22  Home xG open play               30 non-null     float64
 23  Home xG set play                30 non-null     float64
 24  Home Non-penalty xG             30 non-null     float64
 25  Home xG on target (xGOT)        30 non-null     float64
 26  Home Passes                     30 non-null     int64
 27  Home Accurate passes.1          30 non-null     object
 28  Home Own half                   30 non-null     int64
 29  Home Opposition half            30 non-null     int64
 30  Home Accurate long balls        30 non-null     object
 31  Home Accurate crosses           30 non-null     object
 32  Home Throws                     30 non-null     int64
 33  Home Touches in opposition box  30 non-null     int64
 34  Home Offsides                   30 non-null     int64
 35  Home Yellow cards               30 non-null     int64
 36  Home Red cards                  30 non-null     int64
 37  Home Tackles won                30 non-null     object
 38  Home Interceptions              30 non-null     int64
 39  Home Blocks                     30 non-null     int64
 40  Home Clearances                 30 non-null     int64
 41  Home Keeper saves               30 non-null     int64
 42  Home Duels won                  30 non-null     int64
 43  Home Ground duels won           30 non-null     object
 44  Home Aerial duels won           30 non-null     object
 45  Home Successful dribbles        30 non-null     object
 46  Away Expected goals(xG)         30 non-null     float64
 47  Away Total shots                30 non-null     int64
 48  Away Shots on target            30 non-null     int64
 49  Away Big chances                30 non-null     int64
 50  Away Big chances missed         30 non-null     int64
 51  Away Accurate passes            30 non-null     object
 52  Away Fouls committed            30 non-null     int64
 53  Away Corners                    30 non-null     int64
 54  Away Total shots.               30 non-null     int64
 55  Away Shots off target           30 non-null     int64
 56  Away Shots on target.           30 non-null     int64
 57  Away Blocked shots              30 non-null     int64
 58  Away Hit woodwork               30 non-null     int64
 59  Away Shots inside box           30 non-null     int64
 60  Away Shots outside box          30 non-null     int64
 61  Away Expected goals (xG)        30 non-null     float64
 62  Away xG open play               30 non-null     float64
 63  Away xG set play                30 non-null     float64
 64  Away Non-penalty xG             30 non-null     float64
 65  Away xG on target (xGOT)        30 non-null     float64
 66  Away Passes                     30 non-null     int64
 67  Away Accurate passes.1          30 non-null     object
 68  Away Own half                   30 non-null     int64
 69  Away Opposition half            30 non-null     int64
 70  Away Accurate long balls        30 non-null     object
 71  Away Accurate crosses           30 non-null     object
 72  Away Throws                     30 non-null     int64
 73  Away Touches in opposition box  30 non-null     int64
 74  Away Offsides                   30 non-null     int64
 75  Away Yellow cards               30 non-null     int64
 76  Away Red cards                  30 non-null     int64
 77  Away Tackles won                30 non-null     object
 78  Away Interceptions              30 non-null     int64
 79  Away Blocks                     30 non-null     int64
 80  Away Clearances                 30 non-null     int64
 81  Away Keeper saves               30 non-null     int64
 82  Away Duels won                  30 non-null     int64
 83  Away Ground duels won           30 non-null     object
 84  Away Aerial duels won           30 non-null     object
 85  Away Successful dribbles        30 non-null     object
dtypes: float64(12), int64(54), object(20)
memory usage: 20.3+ KB

### Dropping and renaming columns

In [24]:
keep = ['home_team', 'away_team', 'home_goals', 'away_goals', 'Home Expected goals(xG)', 'Home Yellow cards','Away Expected goals(xG)', 'Away Yellow cards']
Copa_df = Copa_df[keep]
Copa_df = Copa_df.rename(columns={'Home Expected goals(xG)' : 'home_xg', 'Away Expected goals(xG)' : 'away_xg', 'Home Yellow cards' : 'home_yc', 'Away Yellow cards':'away_yc', 'home_goals':'home_score', 'away_goals' : 'away_score'})
Copa_df = Copa_df[['home_team', 'away_team', 'home_score', 'away_score', 'home_xg', 'away_xg', 'home_yc', 'away_yc']] #Giving the order of columns
Copa_df['date'] = pd.Timestamp("2024-06-25") # Putting the same date as there was no date in the dataset
Copa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   30 non-null     object
 1   away_team   30 non-null     object
 2   home_score  30 non-null     int64
 3   away_score  30 non-null     int64
 4   home_xg     30 non-null     float64
 5   away_xg     30 non-null     float64
 6   home_yc     30 non-null     int64
 7   away_yc     30 non-null     int64
 8   date        30 non-null     datetime64[s]
dtypes: datetime64[s](1), float64(2), int64(4), object(2)
memory usage: 2.2+ KB

In [25]:
Copa_df.head()

,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,date
0,Argentina,Canada,2,0,3.02,1.16,2,2,2024-06-25
1,Peru,Chile,0,0,0.75,1.02,1,3,2024-06-25
2,Ecuador,Venezuela,1,2,0.86,1.69,2,2,2024-06-25
3,Mexico,Jamaica,1,0,0.97,0.51,0,0,2024-06-25
4,USA,Bolivia,2,0,2.51,0.18,1,3,2024-06-25

# STANDARDIZING EURO

In [27]:
EURO_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 86 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   stadium                         51 non-null     object
 1   attendance                      51 non-null     object
 2   home_team                       51 non-null     object
 3   away_team                       51 non-null     object
 4   home_goals                      51 non-null     int64
 5   away_goals                      51 non-null     int64
 6   Home Expected goals(xG)         51 non-null     float64
 7   Home Total shots                51 non-null     int64
 8   Home Shots on target            51 non-null     int64
 9   Home Big chances                51 non-null     int64
 10  Home Big chances missed         51 non-null     int64
 11  Home Accurate passes            51 non-null     object
 12  Home Fouls committed            51 non-null     int64
 13  Home Corners                    51 non-null     int64
 14  Home Total shots.               51 non-null     int64
 15  Home Shots off target           51 non-null     int64
 16  Home Shots on target.           51 non-null     int64
 17  Home Blocked shots              51 non-null     int64
 18  Home Hit woodwork               51 non-null     int64
 19  Home Shots inside box           51 non-null     int64
 20  Home Shots outside box          51 non-null     int64
 21  Home Expected goals (xG)        51 non-null     float64
 22  Home xG open play               51 non-null     float64
 23  Home xG set play                51 non-null     float64
 24  Home Non-penalty xG             51 non-null     float64
 25  Home xG on target (xGOT)        51 non-null     float64
 26  Home Passes                     51 non-null     int64
 27  Home Accurate passes.1          51 non-null     object
 28  Home Own half                   51 non-null     int64
 29  Home Opposition half            51 non-null     int64
 30  Home Accurate long balls        51 non-null     object
 31  Home Accurate crosses           51 non-null     object
 32  Home Throws                     51 non-null     int64
 33  Home Touches in opposition box  51 non-null     int64
 34  Home Offsides                   51 non-null     int64
 35  Home Yellow cards               51 non-null     int64
 36  Home Red cards                  51 non-null     int64
 37  Home Tackles won                51 non-null     object
 38  Home Interceptions              51 non-null     int64
 39  Home Blocks                     51 non-null     int64
 40  Home Clearances                 51 non-null     int64
 41  Home Keeper saves               51 non-null     int64
 42  Home Duels won                  51 non-null     int64
 43  Home Ground duels won           51 non-null     object
 44  Home Aerial duels won           51 non-null     object
 45  Home Successful dribbles        51 non-null     object
 46  Away Expected goals(xG)         51 non-null     float64
 47  Away Total shots                51 non-null     int64
 48  Away Shots on target            51 non-null     int64
 49  Away Big chances                51 non-null     int64
 50  Away Big chances missed         51 non-null     int64
 51  Away Accurate passes            51 non-null     object
 52  Away Fouls committed            51 non-null     int64
 53  Away Corners                    51 non-null     int64
 54  Away Total shots.               51 non-null     int64
 55  Away Shots off target           51 non-null     int64
 56  Away Shots on target.           51 non-null     int64
 57  Away Blocked shots              51 non-null     int64
 58  Away Hit woodwork               51 non-null     int64
 59  Away Shots inside box           51 non-null     int64
 60  Away Shots outside box          51 non-null     int64
 61  Away Expected goals (xG)        51 non-null     float64
 62  Away xG open play               51 non-null     float64
 63  Away xG set play                51 non-null     float64
 64  Away Non-penalty xG             51 non-null     float64
 65  Away xG on target (xGOT)        51 non-null     float64
 66  Away Passes                     51 non-null     int64
 67  Away Accurate passes.1          51 non-null     object
 68  Away Own half                   51 non-null     int64
 69  Away Opposition half            51 non-null     int64
 70  Away Accurate long balls        51 non-null     object
 71  Away Accurate crosses           51 non-null     object
 72  Away Throws                     51 non-null     int64
 73  Away Touches in opposition box  51 non-null     int64
 74  Away Offsides                   51 non-null     int64
 75  Away Yellow cards               51 non-null     int64
 76  Away Red cards                  51 non-null     int64
 77  Away Tackles won                51 non-null     object
 78  Away Interceptions              51 non-null     int64
 79  Away Blocks                     51 non-null     int64
 80  Away Clearances                 51 non-null     int64
 81  Away Keeper saves               51 non-null     int64
 82  Away Duels won                  51 non-null     int64
 83  Away Ground duels won           51 non-null     object
 84  Away Aerial duels won           51 non-null     object
 85  Away Successful dribbles        51 non-null     object
dtypes: float64(12), int64(54), object(20)
memory usage: 34.4+ KB

### Dropping and renaming the columns

In [29]:
keep = ['home_team', 'away_team', 'home_goals', 'away_goals', 'Home Expected goals(xG)', 'Home Yellow cards','Away Expected goals(xG)', 'Away Yellow cards']
EURO_df = EURO_df[keep]
EURO_df = EURO_df.rename(columns={'Home Expected goals(xG)' : 'home_xg', 'Away Expected goals(xG)' : 'away_xg', 'Home Yellow cards' : 'home_yc', 'Away Yellow cards':'away_yc', 'home_goals':'home_score', 'away_goals' : 'away_score'})
EURO_df = EURO_df[['home_team', 'away_team', 'home_score', 'away_score', 'home_xg', 'away_xg', 'home_yc', 'away_yc']]
EURO_df['date'] = pd.Timestamp("2024-06-01") #Putting the same date as there was no date in the intial dataset
EURO_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   51 non-null     object
 1   away_team   51 non-null     object
 2   home_score  51 non-null     int64
 3   away_score  51 non-null     int64
 4   home_xg     51 non-null     float64
 5   away_xg     51 non-null     float64
 6   home_yc     51 non-null     int64
 7   away_yc     51 non-null     int64
 8   date        51 non-null     datetime64[s]
dtypes: datetime64[s](1), float64(2), int64(4), object(2)
memory usage: 3.7+ KB

In [30]:
EURO_df.head()

,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,date
0,Germany,Scotland,5,1,2.15,0.02,2,1,2024-06-01
1,Hungary,Switzerland,1,3,1.25,2.33,2,2,2024-06-01
2,Spain,Croatia,3,0,2.01,2.38,1,0,2024-06-01
3,Italy,Albania,2,1,1.56,0.50,2,2,2024-06-01
4,Poland,Netherlands,1,2,1.32,1.46,0,1,2024-06-01

# STANDARDIZING WC 2022

In [32]:
WC2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match                  64 non-null     int64
 1   dayofweek              64 non-null     object
 2   match_time             64 non-null     object
 3   home_team              64 non-null     object
 4   away_team              64 non-null     object
 5   home_xg                64 non-null     float64
 6   away_xg                64 non-null     float64
 7   score                  64 non-null     object
 8   attendance             64 non-null     int64
 9   venue                  64 non-null     object
 10  referee                64 non-null     object
 11  home_formation         64 non-null     object
 12  away_formation         64 non-null     object
 13  home_captain           64 non-null     object
 14  away_captain           64 non-null     object
 15  home_manager           64 non-null     object
 16  away_manager           64 non-null     object
 17  home_possession        64 non-null     int64
 18  away_possession        64 non-null     int64
 19  home_completed_passes  64 non-null     int64
 20  home_attempted_pases   64 non-null     int64
 21  away_completed_passes  64 non-null     int64
 22  away_attempted_pases   64 non-null     int64
 23  home_sot               64 non-null     int64
 24  away_sot               64 non-null     int64
 25  home_total_shots       64 non-null     int64
 26  away_total_shots       64 non-null     int64
 27  home_saves             64 non-null     int64
 28  away_saves             64 non-null     int64
 29  home_fouls             64 non-null     int64
 30  away_fouls             64 non-null     int64
 31  home_corners           64 non-null     int64
 32  away_corners           64 non-null     int64
 33  home_crosses           64 non-null     int64
 34  away_crosses           64 non-null     int64
 35  home_touches           64 non-null     int64
 36  away_touches           64 non-null     int64
 37  home_tackles           64 non-null     int64
 38  away_tackles           64 non-null     int64
 39  home_interceptions     64 non-null     int64
 40  away_interceptions     64 non-null     int64
 41  home_aerials_won       64 non-null     int64
 42  away_aerials_won       64 non-null     int64
 43  home_clearances        64 non-null     int64
 44  away_clearances        64 non-null     int64
 45  home_offsides          64 non-null     int64
 46  away_offsides          64 non-null     int64
 47  home_gks               64 non-null     int64
 48  away_gks               64 non-null     int64
 49  home_throw_ins         64 non-null     int64
 50  away_throw_ins         64 non-null     int64
 51  home_long_balls        64 non-null     int64
 52  away_long_balls        64 non-null     int64
dtypes: float64(2), int64(38), object(13)
memory usage: 26.6+ KB

In [33]:
WC2022_df.head()

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,home_clearances,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,02,67372,Al Bayt Stadium,...,18,7,3,4,4,7,20,17,51,70
1,2,Mon,2022-11-21 16:00:00,England,IR Iran,2.1,1.4,62,45334,Khalifa International Stadium,...,4,23,2,2,5,5,18,17,87,50
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,02,41721,Al Thumama Stadium,...,32,16,2,1,6,10,17,28,64,66
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,11,43418,Ahmed bin Ali Stadium,...,18,31,1,1,5,10,22,25,56,90
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,12,88012,Lusail Iconic Stadium,...,11,26,10,1,3,9,24,13,55,59

In [34]:
keep = ['match_time', 'home_team', 'away_team', 'score', 'home_xg','away_xg'] # Keeping specific columns from the initial dataset 
WC2022_df = WC2022_df[keep] #Droping unnecessary columns leaving only columns that is needed

#In the initial dataset score was in one column, however for our dataset we need to split it
WC2022_df[['home_score', 'away_score']] = WC2022_df['score'].str.extract(r"(\d+)\s*[-]\s*(\d+)")
WC2022_df['home_score'] = WC2022_df['home_score'].astype(int)
WC2022_df['away_score'] = WC2022_df['away_score'].astype(int)

#Dropping score column
WC2022_df = WC2022_df.drop(columns = ['score'])
WC2022_df.columns = ['date', 'home_team', 'away_team', 'home_xg', 'away_xg', 'home_score', 'away_score']

#Importing dataset with additional information for world cup 2022 to get yellow cards information
WC2022_yelC = pd.read_excel("../DataSets/Fifa_world_cup_2022_matches.xlsx")

#Standardizing team names so it is possible to merge according to name of the teams
WC2022_df['home_team'] = WC2022_df['home_team'].str.strip()
WC2022_yelC['team1'] = WC2022_yelC['team1'].str.strip()
WC2022_df['home_team'] = WC2022_df['home_team'].str.lower()
WC2022_yelC['team1'] = WC2022_yelC['team1'].str.lower()

WC2022_df['home_team'] = WC2022_df['home_team'].replace({
    'ir iran': 'iran'
})

#Adding yellow cards information from the second dataset
WC2022_df = WC2022_df.merge(
    WC2022_yelC[['team1', 'yellow cards team1', 'yellow cards team2']],
    left_on='home_team',     # column in WC2022_df
    right_on='team1',        # column in WC2022_redC
    how='left'
)

#Accidentaly added additional column "team1" while merging, needs to be dropped
WC2022_df = WC2022_df.drop(columns = ['team1'])

#Standardizing number of yellow cards
WC2022_df['yellow cards team1'] = WC2022_df['yellow cards team1'].astype(int)
WC2022_df['yellow cards team2'] = WC2022_df['yellow cards team2'].astype(int)

#Renaming the columns and giving proper order
WC2022_df = WC2022_df.rename(columns = {'yellow cards team1' : 'home_yc', 'yellow cards team2' : 'away_yc'})
WC2022_df = WC2022_df[['date','home_team', 'away_team', 'home_score', 'away_score', 'home_xg', 'away_xg', 'home_yc', 'away_yc']]

WC2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        172 non-null    object
 1   home_team   172 non-null    object
 2   away_team   172 non-null    object
 3   home_score  172 non-null    int32
 4   away_score  172 non-null    int32
 5   home_xg     172 non-null    float64
 6   away_xg     172 non-null    float64
 7   home_yc     172 non-null    int32
 8   away_yc     172 non-null    int32
dtypes: float64(2), int32(4), object(3)
memory usage: 9.5+ KB

# CONCANTINATION

In [36]:
#Merging all datasets that we have
match_history_df = pd.concat([WC2022_df, AFC_df, AFCON_df, CONCACAF_df, Copa_df, EURO_df], ignore_index = True).copy()

In [37]:
match_history_df.head()

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc
0,2022-11-20 19:00:00,qatar,Ecuador,0,2,0.3,1.2,4,2
1,2022-11-20 19:00:00,qatar,Ecuador,0,2,0.3,1.2,3,3
2,2022-11-21 16:00:00,england,IR Iran,6,2,2.1,1.4,0,2
3,2022-11-21 16:00:00,england,IR Iran,6,2,2.1,1.4,0,0
4,2022-11-21 16:00:00,england,IR Iran,6,2,2.1,1.4,0,1

In [38]:
match_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        403 non-null    object
 1   home_team   403 non-null    object
 2   away_team   403 non-null    object
 3   home_score  403 non-null    int64
 4   away_score  403 non-null    int64
 5   home_xg     403 non-null    float64
 6   away_xg     403 non-null    float64
 7   home_yc     403 non-null    int64
 8   away_yc     403 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 28.5+ KB

In [39]:
match_history_df.shape

(403, 9)

### Standardizing team names

In [41]:
match_history_df['home_team'] = match_history_df['home_team'].str.strip()
match_history_df['home_team'] = match_history_df['home_team'].str.lower()

match_history_df['away_team'] = match_history_df['away_team'].str.strip()
match_history_df['away_team'] = match_history_df['away_team'].str.lower()

### Assigning country map so every row will have the same country name

In [43]:
country_mapping = {
    'ir iran': 'iran',
    'korea republic': 'south korea',
    'usa': 'united states',
    'usmnt': 'united states',
    'st.vincent/grenadines': 'st. vincent / grenadines',
    'st vincent and the grenadines' : 'st. vincent / grenadines',
    'congo dr' : 'dr congo',
    'el salvador': 'elsalvador',
    'united arab emirates' : 'uae',
    'turkiye' : 'turkey',
    'czech republic' : 'czechia'
}

### Replacing names of the countries with our map

In [45]:
match_history_df['home_team'] = match_history_df['home_team'].replace(country_mapping)
match_history_df['away_team'] = match_history_df['away_team'].replace(country_mapping)

In [46]:
# Check if home_team and away_team have the same unique values
if sorted(match_history_df['away_team'].unique()) != sorted(match_history_df['home_team'].unique()):
    print("Teams are written differently!")
    
    away_set = set(match_history_df['away_team'].unique())
    home_set = set(match_history_df['home_team'].unique())
    
    only_away = away_set - home_set
    only_home = home_set - away_set
    
    if only_away:
        print(f"Only in away_team: {only_away}")
    if only_home:
        print(f"Only in home_team: {only_home}")
else:
    print("All teams are written the same!") #The only team that must be shown is elsalvador as there is no elsalvador in home_team

Teams are written differently!
Only in away_team: {'elsalvador'}

# Add Elo to the final df

In [48]:
#Standardizing Elo dataframe
Elo_df['country'] = Elo_df['country'].str.strip()
Elo_df['country'] = Elo_df['country'].str.lower()
Elo_df['country'] = Elo_df['country'].replace(country_mapping)

In [49]:
Elo_df.head(10)

   number      country   points last_three_games
0       1        spain  1885.36            W-W-W
1       2    argentina  1867.09            W-L-W
2       3       france  1862.03            W-W-D
3       4      england  1813.32            W-W-L
4       5     portugal  1777.69            W-W-W
5       6       brazil  1770.53            D-W-W
6       7  netherlands  1758.18            W-W-W
7       8      belgium  1736.38            W-D-W
8       9        italy  1716.98            W-W-D
9      10      germany  1707.51            W-W-W

### Merging main dataframe with elo dataframe to create two additional columns for elo number of the teams

In [51]:
match_history_df = match_history_df.merge(
    Elo_df[['country', 'number']].rename(columns={'country': 'home_team', 'number': 'home_team_elo'}),
    on='home_team',
    how='left'
)
match_history_df = match_history_df.merge(
    Elo_df[['country', 'number']].rename(columns={'country': 'away_team', 'number': 'away_team_elo'}),
    on='away_team',
    how='left'
)

In [52]:
match_history_df.head()

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,home_team_elo,away_team_elo
0,2022-11-20 19:00:00,qatar,ecuador,0,2,0.3,1.2,4,2,53.0,44.0
1,2022-11-20 19:00:00,qatar,ecuador,0,2,0.3,1.2,3,3,53.0,44.0
2,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,2,4.0,26.0
3,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,0,4.0,26.0
4,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,1,4.0,26.0

### Checking if some teams does not have elo

In [54]:
match_history_df['home_team_elo'].isna().sum()

2

In [55]:
match_history_df[match_history_df['home_team_elo'].isna()][['home_team']]

      home_team
281     bermuda
287  martinique

In [56]:
match_history_df[match_history_df['away_team_elo'].isna()][['away_team']]

      away_team
280  martinique
292     bermuda

### Dropping that rows as they were not necessary for the dataframe

In [58]:
match_history_df = match_history_df.dropna(subset=['away_team_elo', 'home_team_elo'])

In [59]:
match_history_df[match_history_df['away_team_elo'].isna()][['away_team']]

Empty DataFrame
Columns: [away_team]
Index: []

In [60]:
match_history_df[match_history_df['home_team_elo'].isna()][['home_team']]

Empty DataFrame
Columns: [home_team]
Index: []

### Creating new column that would hold information of the differences of the elo

In [62]:
match_history_df['elo_diff'] = (match_history_df['home_team_elo'] - match_history_df['away_team_elo'])

In [63]:
match_history_df.head()

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,home_team_elo,away_team_elo,elo_diff
0,2022-11-20 19:00:00,qatar,ecuador,0,2,0.3,1.2,4,2,53.0,44.0,9.0
1,2022-11-20 19:00:00,qatar,ecuador,0,2,0.3,1.2,3,3,53.0,44.0,9.0
2,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,2,4.0,26.0,-22.0
3,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,0,4.0,26.0,-22.0
4,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,1,4.0,26.0,-22.0

### Add a new column with the Winner 1 home, 2 away, 0 draw

In [65]:
conditions = [
    match_history_df['home_score'] > match_history_df['away_score'],  # home wins
    match_history_df['home_score'] < match_history_df['away_score'],  # away wins
    match_history_df['home_score'] == match_history_df['away_score'], #draw
]

choices = [1, 2, 0]

match_history_df['winner'] = np.select(conditions, choices, default=0)

In [66]:
match_history_df[['home_score', 'away_score', 'winner']].head(20)

    home_score  away_score  winner
0            0           2       2
1            0           2       2
2            6           2       1
3            6           2       1
4            6           2       1
5            6           2       1
6            0           2       2
7            1           1       0
8            1           2       2
9            1           2       2
10           1           2       2
11           1           2       2
12           1           2       2
13           0           0       0
14           0           0       0
15           4           1       1
16           4           1       1
17           4           1       1
18           4           1       1
19           0           0       0

In [67]:
match_history_df.shape

(402, 13)

# Get rid of the duplicates

In [69]:
match_history_df = match_history_df.drop_duplicates(
    subset=['date', 'home_team', 'away_team']
)

In [70]:
match_history_df.shape

(290, 13)

In [71]:
match_history_df.head(20)

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,home_team_elo,away_team_elo,elo_diff,winner
0,2022-11-20 19:00:00,qatar,ecuador,0,2,0.3,1.2,4,2,53.0,44.0,9.0,2
2,2022-11-21 16:00:00,england,iran,6,2,2.1,1.4,0,2,4.0,26.0,-22.0,1
6,2022-11-21 19:00:00,senegal,netherlands,0,2,0.9,0.7,2,1,18.0,7.0,11.0,2
7,2022-11-21 22:00:00,united states,wales,1,1,0.8,1.5,4,2,16.0,30.0,-14.0,0
8,2022-11-22 13:00:00,argentina,saudi arabia,1,2,2.2,0.1,0,6,2.0,63.0,-61.0,2
13,2022-11-22 16:00:00,denmark,tunisia,0,0,1.4,0.9,2,1,20.0,37.0,-17.0,0
14,2022-11-22 19:00:00,mexico,poland,0,0,0.7,0.9,2,1,17.0,24.0,-7.0,0
15,2022-11-22 22:00:00,france,australia,4,1,4.0,0.5,0,3,3.0,23.0,-20.0,1
19,2022-11-23 13:00:00,morocco,croatia,0,0,0.4,0.5,1,0,15.0,11.0,4.0,0
22,2022-11-23 16:00:00,germany,japan,1,2,3.1,1.5,0,0,10.0,12.0,-2.0,2
23,2022-11-23 19:00:00,spain,costa rica,7,0,3.5,0.0,0,2,1.0,41.0,-40.0,1
25,2022-11-23 22:00:00,belgium,canada,1,0,0.8,2.4,3,2,8.0,36.0,-28.0,1
27,2022-11-24 13:00:00,switzerland,cameroon,1,0,1.4,0.7,2,1,21.0,45.0,-24.0,1
28,2022-11-24 16:00:00,uruguay,south korea,0,0,0.6,0.6,1,1,13.0,19.0,-6.0,0
29,2022-11-24 19:00:00,portugal,ghana,3,2,2.0,0.9,2,4,5.0,68.0,-63.0,1
32,2022-11-24 22:00:00,brazil,serbia,2,0,2.4,0.2,0,3,6.0,35.0,-29.0,1
35,2022-11-25 13:00:00,wales,iran,0,2,0.9,1.4,1,2,30.0,26.0,4.0,2
37,2022-11-25 16:00:00,qatar,senegal,1,3,1.0,0.8,4,2,53.0,18.0,35.0,2
39,2022-11-25 19:00:00,netherlands,ecuador,1,1,0.1,1.7,0,1,7.0,44.0,-37.0,0
43,2022-11-25 22:00:00,england,united states,0,0,0.8,0.6,0,2,4.0,16.0,-12.0,0

# Final normalization

In [73]:
match_history_df['date'] = pd.to_datetime(match_history_df['date'], errors='coerce')

In [74]:
match_history_df.tail(20)

,date,home_team,away_team,home_score,away_score,home_xg,away_xg,home_yc,away_yc,home_team_elo,away_team_elo,elo_diff,winner
386,2024-06-01,england,slovenia,0,0,0.80,0.15,3,2,4.0,64.0,-60.0,0
387,2024-06-01,slovakia,romania,1,1,0.86,1.19,1,3,48.0,46.0,2.0,0
388,2024-06-01,ukraine,belgium,0,0,0.82,0.88,1,1,25.0,8.0,17.0,0
389,2024-06-01,czechia,turkey,1,2,1.62,1.46,5,11,31.0,29.0,2.0,2
390,2024-06-01,georgia,portugal,2,0,1.65,2.04,1,3,87.0,5.0,82.0,1
391,2024-06-01,switzerland,italy,2,0,1.25,0.73,0,3,21.0,9.0,12.0,1
392,2024-06-01,germany,denmark,2,0,2.58,1.18,0,2,10.0,20.0,-10.0,1
393,2024-06-01,england,slovakia,2,1,1.52,2.15,3,6,4.0,48.0,-44.0,1
394,2024-06-01,spain,georgia,4,1,3.36,0.25,1,1,1.0,87.0,-86.0,1
395,2024-06-01,france,belgium,1,0,1.06,0.23,3,2,3.0,8.0,-5.0,1
396,2024-06-01,portugal,slovenia,0,0,1.97,0.60,1,5,5.0,64.0,-59.0,0
397,2024-06-01,romania,netherlands,0,3,0.28,2.93,2,2,46.0,7.0,39.0,2
398,2024-06-01,austria,turkey,1,2,3.14,0.92,2,2,22.0,29.0,-7.0,2
399,2024-06-01,spain,germany,2,1,1.41,2.15,5,8,1.0,10.0,-9.0,1
400,2024-06-01,portugal,france,0,0,1.84,1.14,1,1,5.0,3.0,2.0,0
401,2024-06-01,england,switzerland,1,1,0.65,1.47,1,2,4.0,21.0,-17.0,0
402,2024-06-01,netherlands,turkey,2,1,1.09,1.31,4,1,7.0,29.0,-22.0,1
403,2024-06-01,spain,france,2,1,0.75,1.10,2,2,1.0,3.0,-2.0,1
404,2024-06-01,netherlands,england,1,2,0.54,1.25,3,3,7.0,4.0,3.0,2
405,2024-06-01,spain,england,2,1,1.77,0.55,1,3,1.0,4.0,-3.0,1

In [75]:
len(match_history_df)

290

In [76]:
match_history_df.duplicated().sum()

0

In [77]:
match_history_df[match_history_df.duplicated()]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, home_xg, away_xg, home_yc, away_yc, home_team_elo, away_team_elo, elo_diff, winner]
Index: []

### After all merging and droping, the indexes were still holding the same values, so needs to be reset

In [79]:
match_history_df = match_history_df.reset_index(drop=True)

In [80]:
match_history_df.shape

(290, 13)

In [81]:
match_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           290 non-null    datetime64[ns]
 1   home_team      290 non-null    object
 2   away_team      290 non-null    object
 3   home_score     290 non-null    int64
 4   away_score     290 non-null    int64
 5   home_xg        290 non-null    float64
 6   away_xg        290 non-null    float64
 7   home_yc        290 non-null    int64
 8   away_yc        290 non-null    int64
 9   home_team_elo  290 non-null    float64
 10  away_team_elo  290 non-null    float64
 11  elo_diff       290 non-null    float64
 12  winner         290 non-null    int32
dtypes: datetime64[ns](1), float64(5), int32(1), int64(4), object(2)
memory usage: 28.4+ KB

### Standardizing some columns by changing their datatype to integers

In [83]:
match_history_df[['home_team_elo', 'away_team_elo', 'elo_diff', 'away_yc', 'home_yc']] = match_history_df[['home_team_elo', 'away_team_elo', 'elo_diff', 'away_yc', 'home_yc']].astype(int)

In [84]:
match_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           290 non-null    datetime64[ns]
 1   home_team      290 non-null    object
 2   away_team      290 non-null    object
 3   home_score     290 non-null    int64
 4   away_score     290 non-null    int64
 5   home_xg        290 non-null    float64
 6   away_xg        290 non-null    float64
 7   home_yc        290 non-null    int32
 8   away_yc        290 non-null    int32
 9   home_team_elo  290 non-null    int32
 10  away_team_elo  290 non-null    int32
 11  elo_diff       290 non-null    int32
 12  winner         290 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(6), int64(2), object(2)
memory usage: 22.8+ KB

### Put 1 or 0 to the teams that qualified or not qualified to WC

In [86]:
# Standardizing team names in the qualified teams dataframe
Qualified_df['Team'] = Qualified_df['Team'].replace(country_mapping)

Qualified_df['Team'] = Qualified_df['Team'].str.strip()
Qualified_df['Team'] = Qualified_df['Team'].str.lower()

# Convert the list of qualified teams into a Python set because it is fast
qualified = set(Qualified_df['Team'])

# Create a new column, 1 if the home_team is a qualified team, else 0
match_history_df['home_qualified'] = match_history_df['home_team'].isin(qualified).astype(int)

# Create a new column, 1 if the away_team is a qualified team, else 0
match_history_df['away_qualified'] = match_history_df['away_team'].isin(qualified).astype(int)

### Keep the matches where only either away team or home team qualified

In [88]:
match_history_df = match_history_df[
    (match_history_df['home_qualified'] == 1) | 
    (match_history_df['away_qualified'] == 1)
].reset_index(drop=True)

In [89]:
match_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            235 non-null    datetime64[ns]
 1   home_team       235 non-null    object
 2   away_team       235 non-null    object
 3   home_score      235 non-null    int64
 4   away_score      235 non-null    int64
 5   home_xg         235 non-null    float64
 6   away_xg         235 non-null    float64
 7   home_yc         235 non-null    int32
 8   away_yc         235 non-null    int32
 9   home_team_elo   235 non-null    int32
 10  away_team_elo   235 non-null    int32
 11  elo_diff        235 non-null    int32
 12  winner          235 non-null    int32
 13  home_qualified  235 non-null    int32
 14  away_qualified  235 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(8), int64(2), object(2)
memory usage: 20.3+ KB

In [90]:
match_history_df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score', 'home_xg',
       'away_xg', 'home_yc', 'away_yc', 'home_team_elo', 'away_team_elo',
       'elo_diff', 'winner', 'home_qualified', 'away_qualified'],
      dtype='object')

# Save dataframe

In [92]:
match_history_df.to_csv("../DataSets/final_dataset.csv", index=False)